@font-face {
  font-family: 'Calligraph';
  font-style: normal;
  font-weight: 400;
  src: local('Calligraph'), local('Calligraph-Regular'),
    url(http://allfont.ru/cache/fonts/calligraph_fd4010f79ac0ac290f27647883b1ab50.woff) format('woff'),
    url(http://allfont.ru/cache/fonts/calligraph_fd4010f79ac0ac290f27647883b1ab50.ttf) format('truetype');
}

body {
  background-color: #f1f1f1;
  color: #0f141e;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: rgb(31, 9, 52);
  font: medium 48px 'Calligraph', Verdana, Geneva;
  text-shadow: 2px 2px 2px #aaa;
}

a {
  color: #B1785C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
  margin-bottom: 8px;
}

table {
  width: 100%;
  font-family: inherit;
}

table td {
  padding: 4px;
}

table td:nth-child(1) {
  width: 62%;
}

table tr:nth-child(odd) {
  background-color: #effff1;
}

table td:nth-child(2), table td:nth-child(3) {
  color: #86898f;
}

.info {
  display: flex;
}

.info>div {
  box-sizing: border-box;
  float: left;
}

.logo {
  width: 26%;
  padding: 32px 16px 16px 0;
}

.description {
  width: 62%;
  padding: 6px 16px;
}

.description h4 {
  margin-bottom: 8px;
}

.avatar {
  width: 100%;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #aaa;
}

.container {
  max-width: 850px;
  margin: auto;
}

.container .card:nth-child(odd) {
  background-color: #fbfaf7;
}

.container .card:nth-child(even) {
  background-color: #e5ffe7;
}

.card {
  padding: 12px 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}

.card h2 {
  padding-top: 0;
  padding-left: 16px;
  font-size: 1.5em;
  margin-block-start: 0em;
  font: medium 36px 'Calligraph', Verdana, Geneva;
}

.list {
  padding: 0 16px;
}

.list li {
  margin-bottom: 8px;
}

.list li b {
  color: #86898f;
}